
	.btn {
		display: flex;
		justify-content: center;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid var(--accent);
		color: white;
		padding: 8px 24px;
		background-color: var(--accent);
		align-items: center;
		@media screen and (max-width: 1100px){
			padding: 4px 12px;
		}
		&:hover {
			border: 1px solid transparent;
			box-shadow: 0 0 35px var(--accent);
			transform: scale(1.1);
		}
		&--margin {
			margin-top: vh(15);
			margin-bottom: vh(40);
			margin-left: vw(30);
		}
		&--margin-center {
			margin-top: vh(15);
			margin-bottom: vh(40);
		}
		&__icon--small {
			width: 20px;
			height: 20px;
		}
		&__icon--big {
			width: 24px;
			height: 24px;
		}
		&__icon--prepend {
			margin-right: 5px;
		}
		&__icon--append {
			margin-left: 5px;
		}
	}

