.header {
	background-color: white;
	color: var(--accent);
	padding-top: vh(13);
	padding-bottom: vh(13);
	.header__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__logo-wrap {
			&:hover {
				cursor: pointer;
			}
			.logo__img {
				object-fit: cover;
				@media screen and (max-width: 1169px){
					width: vw(340);
					height: auto;
				}
				@media screen and (max-width: 880px){
					width: 150px;
					height: auto;
				}
			}
		}
		.header__menu-wrap {
			display: flex;
			align-items: center;
			gap: vw(240);
			@media screen and (max-width: 1696px){
				gap: vw(100);
			}
			@media screen and (max-width: 1169px){
				gap: vw(40);
			}
			.header__menu {
				.menu__list {
					display: flex;
					gap: vw(60);
					@media screen and (max-width: 880px){
						position: absolute;
						right: 10px;
						top: 60px;
						border: 1px solid var(--accent);
						background-color: white;
						z-index: 999;
						padding: 40px;
						flex-direction: column;
					}
					.menu__item {
						@media screen and (max-width: 880px){
							padding-bottom: 20px;
						}
					}
					.menu__item:last-child {
						@media screen and (max-width: 880px){
							padding-bottom: 0px;
						}
					}
					.menu__link {
						@media screen and (max-width: 646px){
							font-size: 14px;
						}
					}
					.menu__link:hover {
						cursor: pointer;
						color: #fc0;
						transform: scale(1.1);
					}
				}
			}
			.header__menu-toggle {
				display: block;
				max-width: 30px;
				max-height: 30px;
			}
			
			.header__menu-close {
				display: none;
				max-width: 30px;
				max-height: 30px;
			}
			.header__menu-bar {
				display: flex;
				align-items: center;
				gap: vw(20);
				.bar__lang {
					@media screen and (max-width: 1553px){
						display: none;
					}
				}
				.bar__lang-options {
					background-color: inherit;
					border: none;
					color: var(--accent);
					text-align: center;
				}
				.bar__lang-option {
					background-color: white;
					color: var(--accent);
				}
				.bar__phone {
					@media screen and (max-width: 1169px){
						display: none;
					}
				}
				.bar__btns {
					display: flex;
					gap: 15px;
					@media screen and (max-width: 880px){
						display: none;
					}
				}
			}
		}
	}
}