.advantages {
	margin-top: 15px;
	&__title-wrap {
		margin: 0 auto;
		text-align: center;
		@media screen and (max-width: 1553px){
			padding-bottom: 20px;
		}
		@media screen and (max-width: 1169px){
			margin: 10px;
		}
	}
	&__block {
		margin-top: vh(60);
		display: grid;
		grid-template-columns: 42% 56%;
		align-items: center;
		@media screen and (max-width: 1553px) {
			grid-template-columns: 1fr;
			margin-top: vh(15); 
		}
		@media screen and (max-width: 1169px) {
			margin-top: 5vh; 
		}
		&-bg {
			height: 100%;
			width: vw(1514);
			background-image: url('../img/advantages/adv.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: left -705px;
			@media screen and (max-width: 1553px) {
				display: none;
			}
		}
		&-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			@media screen and (max-width: 1696px) {
				grid-template-columns: 1fr 1fr; 
				grid-template-rows: repeat(3, 1fr);
			}
			@media screen and (max-width: 1169px) {
				grid-template-columns: 1fr; 
				grid-template-rows: repeat(6, 1fr);
			}
		}
		&-item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
			width: vw(357);
			height: vh(474);
			background-color: white;
			padding-bottom: vh(30);
			transition: outline-color 0.2s ease;
			position: relative;
			@media screen and (max-width: 1696px) {
				min-width: 100%;
				min-height: auto;
				padding-bottom: 10vh; 
			}
		}
		&-info {
			text-align: center;
		}
		&-logo {
			margin: 0 auto;
		}
		&-title {
			text-align: center;
		}
		&-wrap {
			position: absolute;
			width: 100%;
			overflow-y: auto;
		}
		&-item.active {
			background: linear-gradient(222.21deg, #1968B3 -106.3%, #4C97DD 73.07%);
			color: white;
			transform: scale(1.1);
			box-shadow: 0 0 35px var(--accent);
			z-index: 1;
		}
		&-logo {
			max-width: 100%;
			height: auto;
			// padding-top: vh(253);
		}
	}
}