.blog__wrap {
	.blog__title-wrap {
		margin: 0 auto;
		text-align: center;
		max-width: vw(974);
		padding-top: vh(40);
		padding-bottom: vh(40);
		bottom: 0px;
		left: auto;
		right: auto;
	}
	.blog__list-wrap {
		max-width: 915px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}
	.blog__list-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 20px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		padding: 20px;
	}
	.blog__list-item:nth-child(1) {
		width: 100%;
	}
	.blog__list-item:nth-child(2),
	.blog__list-item:nth-child(3) {
		width: calc(50% - 10px);
	}
	.blog__list-item:nth-child(4) {
		width: 100%;
	}
	.blog__list-item:nth-child(5),
	.blog__list-item:nth-child(6) {
		width: calc(50% - 10px);
	}
	.blog__list-img {
		border-radius: 4px;
	}
	.blog__list-title {
		padding-top: vh(18);
		padding-bottom: vh(8);
	}
	.blog__list-text {
		margin-bottom: vh(15);
	}

	.blog__pagination {
		display: flex;
		justify-content: center;
		margin-top: vh(20);
		margin-bottom: vh(20);
		align-items: center;
	}
	.blog__pagination a {
		display: inline-block;
		padding: 5px 10px;
		background-color: #eee;
		color: black;
		text-decoration: none;
		margin: 0 5px;
		border-radius: 4px;
	}
	.blog__pagination a:hover {
		box-shadow: 0 0 35px var(--accent);
	}
	.blog__pagination a:first-child, .blog__pagination a:last-child {
		background-color: inherit;
	}
	.blog__pagination a.active {
		background-color: var(--accent);
		color: #fff;
	}
	.prev:before {
		content: "<";
		color: black;
		font-size: 25px;
	}
	
	.next:before {
		content: ">";
		color: black;
		font-size: 25px;
	}
}
