.cars {
	margin-top: vh(60);
	@media screen and (max-width: 1696px) {
		margin-top: vh(52);
	}
	.cars__title-wrap {
		text-align: center;
		padding-bottom: vh(28);
	}
	.cars__model-wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		@media screen and (max-width: 1169px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
		}
		@media screen and (max-width: 1169px) {
			
				grid-template-columns: 1fr;
				grid-template-rows: repeat(6, 1fr);
			
		}
	}
	.cars__model {
		min-width: vw(620);
		min-height: vh(329);
		border: 2px solid #DFDFDF;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.cars__model-item {
		display: flex;
		justify-content: space-between;
	}
	.cars__model-name {
		padding-left: vw(20);
		padding-top: vh(20);
	}
	.cars__model-img {
		min-width: vw(386);
		height: auto;
		object-fit: cover;
		&--small {
			padding-right: vw(100);
			padding-top: vh(40);
		}
	}
	.cars__model-info {
		padding-top: vh(20);
		padding-left: vw(20);
		padding-bottom: vh(20);
	}
}