.header {
	background-color: white;
	color: var(--accent);
	padding-top: vh(13);
	padding-bottom: vh(13);
	.header__logo-wrap:hover {
		cursor: pointer;
	}
	.header__logo {
		@media screen and (max-width: 1169px){
			width: vw(340);
			height: auto;
		}
		@media screen and (max-width: 880px){
			width: 150px;
			height: auto;
		}
	}
	.header__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header__menu-list {
		display: flex;
		gap: vw(60);
		@media screen and (max-width: 880px){
			position: absolute;
			right: 10px;
			top: 60px;
			border: 1px solid var(--accent);
			background-color: white;
			z-index: 999;
			padding: 40px;
			flex-direction: column;
		}
	}
	.header__menu-item {
		@media screen and (max-width: 880px){
			padding-bottom: 20px;
		}
	}
	.header__menu-item:last-child {
		@media screen and (max-width: 880px){
			padding-bottom: 0px;
		}
	}
	.header__menu-link {
		@media screen and (max-width: 646px){
			font-size: 14px;
		}
	}
	.header__menu-link:hover {
		cursor: pointer;
		color: #fc0;
		transform: scale(1.1);
	}
	.lang {
		background-color: inherit;
		border: none;
		color: var(--accent);
		text-align: center;
	}
	select:active, select:focus{
		outline:none
	}
	.lang__option {
		background-color: white;
		color: var(--accent);
	}
	.header__lang {
		@media screen and (max-width: 1553px){
			display: none;
		}
	}
	.header__phone {
		@media screen and (max-width: 1169px){
			display: none;
		}
	}
	.header__lang-wrap {
		display: flex;
		align-items: center;
		gap: vw(20);
	}
	.header__btn-img {
		width: 20px;
		height: 20px;
	}
	.header__btn-wrap {
		display: flex;
		gap: 15px;
		@media screen and (max-width: 880px){
			display: none;
		}
	}
	.header__btn-logo {
		display: flex;
		gap: 5px;
		align-items: center;
		cursor: pointer;
		border-radius: 4px;
	}
	.header__btn-logo:hover {
		border: 1px solid transparent;
		box-shadow: 0 0 35px var(--accent);
		transform: scale(1.1);
	}
	.header__btn-logo, .header__btn {
		border: 1px solid var(--accent);
		color: white;
		padding: 8px 24px;
		background-color: var(--accent);
		@media screen and (max-width: 1100px){
			padding: 4px 12px;
		}
	}
	.header__menu-wrap {
		display: flex;
		align-items: center;
		gap: vw(240);
		@media screen and (max-width: 1696px){
			gap: vw(100);
		}
		@media screen and (max-width: 1169px){
			gap: vw(40);
		}
	}
		.header__menu-toggle {
			display: block;
			max-width: 30px;
			max-height: 30px;
		}
		
		.header__menu-close {
			display: none;
			max-width: 30px;
			max-height: 30px;
		}


}