.numbers {
	.numbers__title-wrap {
		text-align: center;
		margin-top: vh(60);
		margin-bottom: vh(120);
		@media screen and (max-width: 1169px) {
			margin-bottom: vh(30);
			margin-top: vh(25);
	}
	}
	.numbers__title {
		padding-bottom: vh(10);
	}
	.numbers__info-wrap {
		display: flex;
		gap: vw(221);
		@media screen and (max-width: 1169px) {
			flex-direction: column;
			gap: 5px;
			align-items: center;
			width: 100%;
	}
	}
	.numbers__info {
		max-width: vw(724);
		padding-bottom: vh(212);
		position: relative;
		@media screen and (max-width: 1169px) {
			padding-bottom: vh(20);
			max-width: none;
			margin: 10px;
	}
	}
	.numbers__info-title {
		padding-bottom: vh(15);
		@media screen and (max-width: 1169px) {
			text-align: center;
		}
	}
	.numbers__info-text {
		padding-bottom: vh(15);
	}
}