.price__wrap {
	display: flex;
	justify-content: center;
	gap: vw(30);
	margin-bottom: vh(80);
	@media screen and (max-width: 880px) {
		justify-content: space-between;
		gap: vw(10);
		margin-bottom: vh(25);
	}
	.price {
		max-width: vw(319);
		min-height: 419px;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 880px) {
			max-width: none;
		}
	}
	.price__title-wrap {
		background-color: #4C97DD;
		border-radius: 8px 8px 0px 0px;
		text-align: center;
		padding-top: vh(12);
		padding-bottom: vh(12);
		color: white;
	}
	.price__description {
		background-color: #B6D2ED;
		border-bottom: 1px solid #1968B3;
		text-align: center;
		padding-left: vh(16);
		padding-right: vh(16);
		padding-top: vh(12);
		padding-bottom: vh(12);
		color: #465577;
	}
	.price__list {
		background-color: #B6D2ED;
		align-items: center;
		padding-top: vh(12);
		padding-bottom: vh(12);
		color: #465577;
	}
	.price__list-service {
		list-style: none; 
		position: relative; 
		padding-left: 20px; 
		
	}
	.price__list-service::before {
		content: ""; 
		position: absolute; 
		left: 10px; 
		top: 50%; 
		transform: translate(-50%, -50%); 
		width: 6px; 
		height: 6px; 
		background-color: #1968B3; 
		border-radius: 50%; 
	}
	.price__btn {
		background-color: #1968B3;
		width: vw(319);
		border-radius: 0px 0px 8px 8px;
		color: white;
		border: none;
		cursor: pointer;
		padding-top: vh(16);
		padding-bottom: vh(16);
		text-align: center;
		@media screen and (max-width: 880px) {
			width: 100%;
		}
	}
}