.services {
	.services__title-wrap {
		text-align: center;
		padding-top: vh(60);
		padding-bottom: vh(62);
		z-index: 1;
		@media screen and (max-width: 1696px){
			padding-top: vh(15);
			margin: 10px;
			padding-bottom: vh(20);
		}
	}
	.services__title {
		margin-bottom: vh(10);
	}
	.services__menu-wrap {
		display: flex;
		justify-content: space-between;
		position: relative;
		@media screen and (max-width: 1169px){
			justify-content: space-evenly;
		}
	}
	.services__menu {
		&-item {
			display: flex;
			gap: 10px;
			align-items: center;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
			border-radius: 8px;
			padding: 15px;
			margin-left: vw(30);
			max-width: vw(716);
			margin-bottom: vh(15);
			@media screen and (max-width: 1169px){
				max-width: none;
				height: auto;
				margin: 10px;
			}
		}
		&-block {
			padding-left: vw(15);
		}
		&-bg {
			position: absolute;
			right: 0;
			top: -150px;
			z-index: -1;
			@media screen and (max-width: 1169px){
				display: none;
			}
		}
		&-car {
			@media screen and (max-width: 1696px){
				padding-top: vh(35);
			}
			@media screen and (max-width: 1696px){
				width: vw(1080);
				height: auto;
				padding-top: 105px;
			}
		}
		&-btn {
			display: flex;
			gap: 15px;
		}
	}
}