.slider {
	width: 100%;
	position: relative;
	overflow: hidden;
	.slider__wrapper {
		align-items: center;
	}
	.slider__item {
		display: flex;
		align-items: center;
		justify-content: center;
		transition:all 200ms linear;
		transform: scale(0.8);
	}
	.slider__img {
		@media screen and (max-width: 646px){
			max-width: 100px;
			height: auto;
		}
	}
}

