h1, .h1{
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 80px;
	color: var(--accent);
	@media screen and (max-width: 1169px){
		font-size: 48px;
	}
	@media screen and (max-width: 924px){
		font-size: 36px;
	}
	@media screen and (max-width: 855px){
	font-family: 'JosefinSans';
	font-weight: 400;
	line-height: 60px;
	font-weight: bold;
	}
}

h2, .h2{
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 60px;
	@media screen and (max-width: 1169px){
		font-size: 32px;
	}
}

h3, .h3{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 35px;
	@media screen and (max-width: 1169px){
		font-size: 16px;
	}
}

h4, .h4 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
}

.josef__accent {
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 400;
	font-size: 75px;
	line-height: 85px;
	color: var(--accent);
	@media screen and (max-width: 1880px){
		font-size: 48px;
	}
	@media screen and (max-width: 1169px){
		font-size: 36px;
	}
}
