.trial {
	@media (max-width: 880px) {
		margin: 10px;
	}
	.trial__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: vh(35);
		@media (max-width: 880px) {
			gap: vh(5);
		}
	}
	.trial__title-item {
		max-width: vw(915);
		@media (max-width: 880px) {
			max-width: none;
			margin: 10px;
		}
	}
	.trial__title-head {
		text-align: center;
		padding-top: vh(60);
		@media (max-width: 880px) {
			padding-top: vh(15);
		}
	}
	.trial__title-text {
		padding-bottom: vh(15);
	}
}