.trial {
	@media (max-width: 880px) {
		margin: 10px;
	}
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: vh(35);
		@media (max-width: 880px) {
			gap: vh(5);
		}
		&-item {
			max-width: vw(915);
			@media (max-width: 880px) {
				max-width: none;
				margin: 10px;
			}
		}
		&-head {
			text-align: center;
			padding-top: vh(60);
			@media (max-width: 880px) {
				padding-top: vh(15);
			}
		}
		&-text {
			padding-bottom: vh(15);
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: vh(35);
		margin-top: vh(25);
		@media (max-width: 880px) {
			gap: vh(15);
			margin: 10px;
		}
		&-title {
			@media (max-width: 880px) {
				text-align: center;
			}
		}
		&-input {
			display: flex;
			flex-direction: column;
			gap: vh(15);
			padding-bottom: vh(15);
		}
		&-btn{
			display: flex;
			gap: 15px;
		}
		&-text {
			margin-bottom: 10px;
		}
	}
}