@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(25, 104, 179, 0.7);
	}
	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 30px rgba(25, 104, 179, 0);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(25, 104, 179, 0);
	}
}