@use 'sass:math';
@import "fonts";
@import 'node_modules/swiper/swiper.min';

@function vw($px, $screen: 1920) {
	$inVW: math.div($px, $screen) * 100;
	@return #{$inVW}vw;
}

@function vh($px, $screen: 900) {
	$inVH: math.div($px, $screen) * 100;
	@return #{$inVH}vh;
}

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
}


ul li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: inherit;

}
:root {
	--accent: #1968B3;
	--filter: #565656;
	--pages: #B0B0B0;
	--shadow: #939694;
}

.container {
	margin-left: vw(30);
	margin-right: vw(30);
}

h1, .h1{
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 80px;
	color: var(--accent);
	@media screen and (max-width: 1169px){
		font-size: 48px;
	}
	@media screen and (max-width: 924px){
		font-size: 36px;
	}
	@media screen and (max-width: 855px){
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 60px;
	font-weight: bold;
	}
}

h2, .h2{
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 60px;
	@media screen and (max-width: 1169px){
		font-size: 32px;
	}
}

h3, .h3{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 35px;
	@media screen and (max-width: 1169px){
		font-size: 16px;
	}
}

h4, .h4 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
}

.josef__accent {
	font-family: 'JosefinSans';
	font-style: normal;
	font-weight: 400;
	font-size: 75px;
	line-height: 85px;
	color: var(--accent);
	@media screen and (max-width: 1880px){
		font-size: 48px;
	}
	@media screen and (max-width: 1169px){
		font-size: 36px;
	}
}
.accent {
	color: var(--accent);
}
.main{
	.main__title-wrap {
		position: relative;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 583px){
			flex-wrap: wrap;
		}
		.main__title-img {
			width: 1080px;
				height: 1080px;
			@media screen and (max-width: 1550px){
				width: 790px;
				height: 790px;
				@media screen and (max-width: 1169px){
					width: 490px;
					height: 490px;
				}
				@media screen and (max-width: 855px){
					width: 290px;
					height: 290px;
				}
				@media screen and (max-width: 583px){
					width: 100%;
					height: auto;
				}
				
			}
		}
		.main__title-text {
			margin-right: 10px;
			padding-top: vh(213);
			max-width: vw(701);
			@media screen and (max-width: 1550px){
				padding-top: vh(13);
			}
			@media screen and (max-width: 855px){
			max-width: none;
			text-align: center;
			}
		}
		.main__title {
			padding-bottom: vh(12);
		}
		.main__title-small {
			padding-bottom: vh(21);
		}
		.main__title-btn {
			margin-bottom: vh(350);
			background-color: inherit;
			color: white;
			border: 1px solid var(--accent);
			display: flex;
			align-items: center;
			padding: 8px 24px;
			gap: 5px;
			cursor: pointer;
			border-radius: 4px;
			background-color: var(--accent);
			@media screen and (max-width: 1550px){
				margin-bottom: vh(50);
			}
			@media screen and (max-width: 855px){
				padding: 4px 12px;
				margin-bottom: vh(10);
			}
		}
		
		.main__title-btn:hover {
			border: none;
			border: 1px solid transparent;
			box-shadow: 0 0 35px var(--accent);
			transform: scale(1.1);
		}
		.main__title-btn-logo {
			width: 20px;
			height: 20px;
		}
		.title-btn-wrap {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 15px;
			@media screen and (max-width: 855px){
				justify-content: center;
			}
		}
		.main__btn-free {
			position: absolute;
			right: 50px;
			bottom: 210px;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: #fc0;
			border-radius: 50%;
			animation: pulse 2s linear infinite;
			padding: 15px;
			cursor: pointer;
			background-color: var(--accent);
			@media screen and (max-width: 1550px){
				bottom: 10px;
			}
			@media screen and (max-width: 1200px){
				display: none;
			}
		} 
		@keyframes pulse {
			0% {
				transform: scale(1);
				box-shadow: 0 0 0 0 rgba(25, 104, 179, 0.7);
			}
			70% {
				transform: scale(1.2);
				box-shadow: 0 0 0 30px rgba(25, 104, 179, 0);
			}
			100% {
				transform: scale(1);
				box-shadow: 0 0 0 0 rgba(25, 104, 179, 0);
			}
		}
		
	}

	.main__services-wrap {
		.main__services {
			text-align: center;
			padding-top: vh(60);
			padding-bottom: vh(62);
			z-index: 1;
			@media screen and (max-width: 1605px){
				padding-top: vh(15);
				margin: 10px;
				padding-bottom: vh(20);
			}
		}
		.main__services-title {
			margin-bottom: vh(10);
		}
		.main__services-menu {
			display: flex;
			justify-content: space-between;
			position: relative;
			@media screen and (max-width: 1169px){
				justify-content: space-evenly;
			}
		}
		.main__services-bg {
			position: absolute;
			right: 0;
			top: -190px;
			z-index: -1;
			@media screen and (max-width: 1169px){
				display: none;
			}
		}
		.services__bg {
			@media screen and (max-width: 1755px){
				padding-top: vh(35);
			}
			@media screen and (max-width: 1655px){
				width: vw(1080);
				height: auto;
				padding-top: 105px;
			}
		}
		.main__services-item {
			display: flex;
			gap: 10px;
			align-items: center;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
			border-radius: 8px;
			padding: 15px;
			margin-left: vw(30);
			max-width: vw(716);
			margin-bottom: vh(15);
			@media screen and (max-width: 1169px){
				max-width: none;
				height: auto;
				margin: 10px;
			}
		}
		.main__services-block {
			padding-left: vw(15);
		}
		.main__services-btn {
			display: flex;
			gap: 8px;
			align-items: center;
			margin-top: vh(15);
			margin-bottom: vh(40);
			margin-left: vw(30);
			padding: 8px 24px;
			background-color: var(--accent);
			color: white;
			border-radius: 4px;
			border: none;
			cursor: pointer;
		}
		.main__services-btn:hover {
			box-shadow: 0 0 35px var(--accent);
			transform: scale(1.1);
		}
		.services__btn-logo {
			width: 24px;
			height: 24px;
		}
	}




	.main__advantages-wrap {
		.main__advantages-title {
			margin: 0 auto;
			text-align: center;
			@media screen and (max-width: 924px){
				margin: 10px;
			}
		}
		.main__advantages-block {
			margin-top: vh(60);
			display: grid;
			grid-template-columns: 42% 56%;
			align-items: center;
			@media screen and (max-width: 1753px) {
				grid-template-columns: 1fr;
				margin-top: vh(15); 
			}
			@media screen and (max-width: 1169px) {
				margin-top: 5vh; 
			}
		}
		
		.main__advantages-img {
			height: 100%;
			width: vw(1514);
			background-image: url('../img/adv.jpg');
			background-size: cover;
			background-position: left -705px;
			@media screen and (max-width: 1753px) {
				display: none;
			}
		}
		
		.main__advantages-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			@media screen and (max-width: 1753px) {
				grid-template-columns: 1fr 1fr; 
				grid-template-rows: repeat(3, 1fr);
			}
			@media screen and (max-width: 924px) {
				grid-template-columns: 1fr; 
				grid-template-rows: repeat(6, 1fr);
			}
		}
		.main__advantages-item {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
			max-width: vw(357);
			max-height: vh(474);
			background-color: white;
			padding-bottom: vh(30);
			transition: outline-color 0.2s ease;
			position: relative;
		
			@media screen and (max-width: 1753px) {
				min-width: 100%;
				min-height: auto;
				padding-bottom: 20vh; 
			}
			@media screen and (max-width: 768px) {
				padding-bottom: 10vh;
			}
		}
		.main__advantages-item.active {
			background: linear-gradient(222.21deg, #1968B3 -106.3%, #4C97DD 73.07%);
			color: white;
			transform: scale(1.1);
			box-shadow: 0 0 35px var(--accent);
			z-index: 1;
		}

		.full-description{
			display: none;
			text-align: center;
			margin: 0 50px;
		}
		.main__advantages-logo {
			max-width: 100%;
			height: auto;
			padding-top: vh(253);
		}
	}




	.main__price-wrap {
		display: flex;
		justify-content: center;
		gap: vw(30);
		margin-bottom: vh(80);
		.main__price-item {
			max-width: vw(319);
			min-height: 419px;
			display: flex;
			flex-direction: column;
		}
		.main__price-title {
			background-color: #4C97DD;
			border-radius: 8px 8px 0px 0px;
			text-align: center;
			padding-top: vh(12);
			padding-bottom: vh(12);
			color: white;
		}
		.main__price-subtitle {
			background-color: #B6D2ED;
			border-bottom: 1px solid #1968B3;
			text-align: center;
			padding-left: vh(16);
			padding-right: vh(16);
			padding-top: vh(12);
			padding-bottom: vh(12);
			color: #465577;
		}
		.main__price-list {
			background-color: #B6D2ED;
			align-items: center;
			padding-top: vh(12);
			padding-bottom: vh(12);
			color: #465577;
		}
		.main__price-btn {
			background-color: #1968B3;
			width: vw(319);
			border-radius: 0px 0px 8px 8px;
			color: white;
			border: none;
			cursor: pointer;
			padding-top: vh(16);
			padding-bottom: vh(16);
		}
		.main__price-service {
			list-style: none; 
			position: relative; 
			padding-left: 20px; 
			
		}

		.main__price-service::before {
			content: ""; 
			position: absolute; 
			left: 10px; 
			top: 50%; 
			transform: translate(-50%, -50%); 
			width: 6px; 
			height: 6px; 
			background-color: #1968B3; 
			border-radius: 50%; 
		}
	}

	.main__cars-wrap {
		margin-top: vh(60);
		@media screen and (max-width: 1753px) {
			margin-top: vh(52);
		}
		.main__cars {
			text-align: center;
			padding-bottom: vh(28);
		}
		.main__cars-block {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			@media screen and (max-width: 1169px) {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
			}
			@media screen and (max-width: 924px) {
				
					grid-template-columns: 1fr;
					grid-template-rows: repeat(6, 1fr);
				
			}
		}
		
		.main__cars-item {
			min-width: vw(620);
			min-height: vh(329);
			border: 2px solid #DFDFDF;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		
		.main__cars-img {
			min-width: vw(386);
			height: auto;
			object-fit: cover;
		}
		.small{
			padding-right: vw(100);
			padding-top: vh(40);
		}

		.main__car-item {
			display: flex;
			justify-content: space-between;
		}
		.main__cars-model {
			padding-left: vw(20);
			padding-top: vh(20);
		}
		.main__cars-text {
			padding-top: vh(20);
			padding-left: vw(20);
			padding-bottom: vh(20);
		}
	}

	.main__numbers-wrap {
		.main__numbers {
			text-align: center;
			margin-top: vh(60);
			margin-bottom: vh(120);
			@media screen and (max-width: 1169px) {
				margin-bottom: vh(30);
				margin-top: vh(25);
		}
		
		}
		.main__numbers-title {
			padding-bottom: vh(10);
		}
		.main__number-info {
			display: flex;
			gap: vw(221);
			@media screen and (max-width: 1169px) {
				flex-direction: column;
				gap: 5px;
				align-items: center;
				width: 100%;
		}
		}
		.main__number-item {
			max-width: vw(724);
			padding-bottom: vh(212);
			position: relative;
			@media screen and (max-width: 1169px) {
				padding-bottom: vh(20);
				max-width: none;
				margin: 10px;
		}
		}
		
		.main__number-bg {
			position: absolute;
			width: 100%;
			height: auto;
			top: -150px;
			right: 35px;
			z-index: -1;
			@media screen and (max-width: 1169px) {
				top: -10px;
		}
		}
		.main__number-plus {
			display: flex;
			flex-direction: column;
			gap: vh(54);
			@media screen and (max-width: 1169px) {
				gap: vh(0);
			}
		}
		
		.main__number-btn {
			display: flex;
			gap: 5px;
			align-items: center;
			cursor: pointer;
			border-radius: 4px;
			background-color: var(--accent);
			border: none;
			color: white;
			padding: 8px 24px;
		}
		.main__number-btn:hover {
			box-shadow: 0 0 35px var(--accent);
			transform: scale(1.1);
		}
		.number__btn-img {
			width: 20px;
			height: 20px;
		}
		.main__number-subtitle {
			padding-bottom: vh(15);
			@media screen and (max-width: 1169px) {
				text-align: center;
			}
		}
		.main__number-p {
			padding-bottom: vh(15);
		}
		.main__number {
			display: flex;
			min-width: vw(720);
			justify-content: space-between;
			@media screen and (max-width: 1169px) {
				flex-direction: column;
		}
		}
		.main__number-stat {
			max-width: vw(268);
			@media screen and (max-width: 1169px) {
				max-width: none;
		}
		}
	}

	.main__partners-wrap {
		text-align: center;
		margin-bottom: vh(40);
		.main__partners-title {
			padding-bottom: vh(10);
		}
		.main__partners-text {
			padding-bottom: vh(40);
		}
		.main__partners-btns {
			display: flex;
			gap: vw(30);
			justify-content: center;
			
			@media screen and (max-width: 855px){
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: repeat(2, 1fr);
			}
		}
		.main__partners-btn {
			padding: 10px 50px;
			border: none;
			background-color: white;
		}
		.main__partners-btn:hover {
			background-color: #1968B3;
			color: white;
			border-radius: 4px;
			box-shadow: 0 0 35px var(--accent);
			cursor: pointer;
		}
	}
}


.main__start {
	text-align: center;
	margin-top: vh(90);
	margin-bottom: vh(50);
}
.main__start-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: vh(150);
	margin-left: vw(150);
	margin-right: vw(150);
}
.main__start-item:last-child {
	margin-bottom: vh(80);
}
.start__item-text {
	max-width: vw(758);
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.start__item-subtitle {
	color: white;
	background-color: #1968B3;
	border-radius: 4px;
	padding: 0px 12px;
	max-width: 81px;
}

.header {
	background-color: white;
	color: var(--accent);
	padding-top: vh(13);
	padding-bottom: vh(13);
	.header__logo-wrap:hover {
		cursor: pointer;
	}
	.header__logo {
		@media screen and (max-width: 1100px){
			width: vw(340);
			height: auto;
		}
		@media screen and (max-width: 855px){
			width: 150px;
			height: auto;
		}
		@media screen and (max-width: 485px){
			width: 120px;
			height: auto;
		}
		@media screen and (max-width: 390px){
			width: 100px;
			height: auto;
		}
	}
	.header__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header__menu-list {
		display: flex;
		gap: vw(60);
	}
	.header__menu-link {
		@media screen and (max-width: 485px){
			font-size: 14px;
		}
	}
	.header__menu-item:hover {
		cursor: pointer;
		color: #fc0;
		transform: scale(1.1);
	}
	#lang {
		background-color: inherit;
		border: none;
		color: var(--accent);
		text-align: center;
	}
	select:active, select:focus{
		outline:none
	}
	#lang__option {
		background-color: white;
		color: var(--accent);
	}
	.header__lang {
		@media screen and (max-width: 1300px){
			display: none;
		}
	}
	.header__phone {
		@media screen and (max-width: 1300px){
			display: none;
		}
	}
	.header__lang-wrap {
		display: flex;
		align-items: center;
		gap: vw(20);
	}
	
	.header__btn-img {
		width: 20px;
		height: 20px;
		
	}
	.header__btn-wrap {
		display: flex;
		gap: 15px;
		@media screen and (max-width: 880px){
			display: none;
		}
	}
	.header__btn-logo {
		display: flex;
		gap: 5px;
		align-items: center;
		cursor: pointer;
		border-radius: 4px;
	}
	.header__btn-logo:hover {
		border: 1px solid transparent;
		box-shadow: 0 0 35px var(--accent);
		transform: scale(1.1);
	}
	
	.header__btn-logo, .header__btn {
		border: 1px solid var(--accent);
		color: white;
		padding: 8px 24px;
		background-color: var(--accent);
		@media screen and (max-width: 1100px){
			padding: 4px 12px;
		}
	}
	.header__menu-wrap {
		display: flex;
		align-items: center;
		gap: vw(440);
		@media screen and (max-width: 1605px){
			gap: vw(140);
		}
		@media screen and (max-width: 1300px){
			gap: vw(40);
		}
	}

	#loginFormContainer {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #f1f1f1;
		padding: 20px;
		border-radius: 5px;
	}

	#loginFormContainer.show {
		display: block;
	}

	label {
		display: block;
		margin-top: 10px;
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
		padding: 5px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	input[type="submit"] {
		width: 100%;
		padding: 10px;
		background-color: #4CAF50;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	input[type="submit"]:hover {
		background-color: #45a049;
	}

}


.footer{
	background-image: url(../img/footer.png);
	background-size: cover;
	color: white;
	.footer-wrap {
		text-align: center;
	}
	.footer__logo {
		width: 20px;
		height: 20px;
	}
	
	.footer__title {
		padding-top: vh(30);
		padding-bottom: vh(16);
	}
	.footer__info {
		display: flex;
		flex-direction: column;
		gap: vh(3);
		justify-content: center;
	}
	.footer__social {
		margin-top: vh(16);
		margin-bottom: vh(16);
		display: flex;
		justify-content: center;
	}
	.footer__policy {
		text-decoration: underline;
	}
	.footer__policy-q {
		padding-bottom: vh(30);
		padding-top: vh(16);
	}
	.circle {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px;
	}
}

.main__blog-wrap {
	.main__blog {
		margin: 0 auto;
		text-align: center;
		max-width: vw(974);
		padding-top: vh(40);
		padding-bottom: vh(40);
		bottom: 0px;
		left: auto;
		right: auto;
	}
	.main__blog-list {
		max-width: 915px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 auto;
	}

	.main__blog-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 20px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		padding: 20px;
	}
	.blog__img {
		border-radius: 4px;
	}
	
	.main__blog-item:nth-child(1) {
		width: 100%;
	}

	.main__blog-item:nth-child(2),
	.main__blog-item:nth-child(3) {
		width: calc(50% - 10px);
	}
	
	.main__blog-item:nth-child(4) {
		width: 100%;
	}
	
	.main__blog-item:nth-child(5),
	.main__blog-item:nth-child(6) {
		width: calc(50% - 10px);
	}
	.blog__btn {
		display: flex;
			gap: 8px;
			align-items: center;
			margin-top: vh(15);
			margin-bottom: vh(10);
			padding: 8px 24px;
			background-color: var(--accent);
			color: white;
			border-radius: 4px;
			border: none;
			cursor: pointer;
			min-width: vw(175);
}

.blog__btn:hover {
	box-shadow: 0 0 35px var(--accent);
}
.blog__btn-logo {
	width: 24px;
	height: 24px;
}
.blog__title {
	padding-top: vh(18);
	padding-bottom: vh(8);
}
.main__blog-pagination {
	display: flex;
	justify-content: center;
	margin-top: vh(20);
	margin-bottom: vh(20);
	align-items: center;
}

.main__blog-pagination a {
		display: inline-block;
		padding: 5px 10px;
		background-color: #eee;
		color: black;
		text-decoration: none;
		margin: 0 5px;
		border-radius: 4px;
}

.main__blog-pagination a:hover {
	box-shadow: 0 0 35px var(--accent);
	}
	.main__blog-pagination a:first-child, .main__blog-pagination a:last-child {
		background-color: inherit;
	}
	
	.main__blog-pagination a.active {
		background-color: var(--accent);
		color: #fff;
	}
	.prev:before {
		content: "<";
		color: black;
		font-size: 25px;
	}
	
	.next:before {
		content: ">";
		color: black;
		font-size: 25px;
	}
}
.main__contacts-wrap {
	display: flex;
	gap: 30px;
	align-items: center;
	@media screen and (max-width: 1600px){
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.main__contacts-title {
		color: black;
		margin-bottom: vh(30);
	}
	.main__contacts-social {
		display: flex;
		gap: 24px;
		align-items: center;
	}
	.main__contact-logo {
		width: 20px;
		height: 20px;
	}
	.main__contacts-logo {
		width: 20px;
		height: 20px;
	}
	.main__contacts-item {
		display: flex;
		gap: 8px;
		align-items: center;
	}
	.main__contacts-list {
		margin-bottom: vh(40);
	}
	.main__contacts-qr {
		margin-bottom: vh(10);
	}
	.contacts__info {
		padding-bottom: vh(10);
	}
	.sms__submit-logo {
		width: 16px;
		height: 14px;
	}
	.sms__form-item {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-bottom: vh(15);
	}
	.sms__form-btn {
		margin-bottom: vh(10);
		padding: 8px 24px;
		display: flex;
		gap: 10px;
		align-items: center;
		color: white;
		border: none;
		background-color: var(--accent);
		border-radius: 4px;
		border: 1px solid transparent;
	}
	.sms__form-btn:hover {
		border: none;
		border: 1px solid transparent;
		box-shadow: 0 0 35px var(--accent);
		transform: scale(1.1);
		cursor: pointer;
	}
	.contacts__sms-title {
		margin-bottom: vh(25);
	}
}
.main__free-wrap {
	.main__free {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: vh(35);
	}
	.main__free-item {
		max-width: vw(915);
	}
	.main__free-title {
		text-align: center;
		padding-top: vh(60);
	}
	.main__free-text {
		padding-bottom: vh(15);
	}
	.main__free-login {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: vh(35);
		margin-top: vh(25);
	}
	.free__form-input {
		display: flex;
		flex-direction: column;
		gap: vh(15);
		padding-bottom: vh(15);
	}
	.main__free-logo {
		width: 16px;
		height: 14px;
	}
	.main__free-btn, .main__free-submit {
		margin-bottom: vh(10);
		padding: 8px 24px;
		display: flex;
		gap: 10px;
		align-items: center;
		color: white;
		border: none;
		background-color: var(--accent);
		border-radius: 4px;
		border: 1px solid transparent;
	}
	.main__free-btn, .main__free-submit:hover {
		border: none;
		border: 1px solid transparent;
		box-shadow: 0 0 35px var(--accent);
		transform: scale(1.1);
		cursor: pointer;
	}
}


input, textarea {
	background-color: #DCE6FF;
	border: none;
	border-radius: 4px;
}

.main__error-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__thx-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}
.main__home-btn {
	margin-bottom: vh(20);
	padding: 8px 24px;
	align-items: center;
	color: white;
	border: none;
	background-color: var(--accent);
	border-radius: 4px;
	border: 1px solid transparent;
}
.main__home-btn:hover {
	border: none;
	border: 1px solid transparent;
	box-shadow: 0 0 35px var(--accent);
	transform: scale(1.1);
	cursor: pointer;
}




input, textarea {
	padding: 10px;
}

.form-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	background-color: #ffffff;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 580px;
	height: 580px;
}

.logo-image {
	display: block;
	margin: 0 auto 60px;
	max-width: 100%;
}

.form-label {
	font-weight: bold;
	margin-bottom: 5px;
}

.username-input,
.password-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.forgot-password-link {
	display: block;
	margin-bottom: 10px;
	text-align: right;
	color: var(--accent);
}

.sign-in-button {
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #4caf50;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
}

.sign-up-text {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.sign-up-link {
	color: #4caf50;
}
.sign-up {
	color:var(--accent);
}

.username-input,
.password-input,
.sign-in-button {
	font-size: 16px;
}

.sign-in-button:hover {
	background-color: #45a049;
}

.sign-in-button:active {
	background-color: #3e8e41;
}

.blog__item-wrap {
	max-width: vw(915);
	margin: 0 auto;
}




.swiper-container {
	position:relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	
}

.swiper-slide {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transition:all 200ms linear;
	transform: scale(0.8);
}
.swiper-button-prev,
.swiper-button-next {
position: absolute;
top: 50%;
transform: translateY(-50%);
z-index: 10;
width: 30px;
height: 30px;
background-color: #fff;
border: 1px solid #000;
cursor: pointer;
}
.swiper-button-prev {
left: 10px;
}
.swiper-button-next {
right: 10px;
}
.swiper-button-prev:before,
.swiper-button-next:before {
content: "";
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
width: 0;
height: 0;
}
.swiper-button-prev:before {
border-right: 8px solid #000;
}
.swiper-button-next:before {
border-left: 8px solid #000;
}

.main__slider .swiper-button-prev,
.main__slider .swiper-button-next {
	background-color: var(--accent);
	border-radius: 50%;
	border: none;
	&:hover {
			box-shadow: 0 0 35px var(--accent);
			
	}
}

.slider__logo {
	width: 20px;
	height: 20px;
}
.blog__slider-btn {
	display: flex;
	gap: 25px;
}

.slider-img {
	height: vh(185);
	border-radius: 4px;
}
.blog__item-img {
	border-radius: 4px;
}
.slider-btn {
	border: none;
	color: var(--accent);
	background-color: white;
}
.blog__slider-item {
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.blog__item-wrap {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.blog__item-title {
	text-align: center;
}